/* HEADER */

.header {
  max-width: 130rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  padding: 0 3rem;
}

.logo {
  font-size: 2.5rem;
  height: 2.8rem;
  text-decoration: none;
}

  .logo span {
    font-size: 3rem;
    font-weight: 500;
  }

  .logo i {
    color: var(--color-white);
  }

 /* NAVIGATION */

 .nav__menu--list,
 .breadcrum__list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 3.2rem;
 }

 .nav__menu--link:link,
 .nav__menu--link:visited,
 .breadcrum__list--link:link,
 .breadcrum__list--link:visited {
  display: inline-block;
  color: var(--color-white);
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s;
 }

 .nav__menu--link:hover,
 .nav__menu--link:active,
 .breadcrum__list--link:hover,
 .breadcrum__list--link:active {
  color: var(--color-orange-light);
 }

 .nav__menu--link.nav__cta--btn:link,
 .nav__menu--link.nav__cta--btn:visited {
  background-color: var(--color-orange-light);
  padding: 1.2rem 2.4rem;
  border-radius: 1rem 0.5rem 1rem 0.5rem;
 }

 .nav__menu--link.nav__cta--btn:hover,
 .nav__menu--link.nav__cta--btn:active {
  color: var(--color-white);
  background-color: var(--color-orange-dark);
 }

/* HERO SECTION */

.section__hero {
  padding: 4.8rem 0 10rem 0;
}
  .hero__container {
      display: grid;
      max-width: 130rem;
      margin: 0 auto;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      padding: 0 3rem;
      gap: 5rem;
    }

    .socialmedia {
      display: flex;
    }
      .socialmedia .icon {
        display: flex;
        align-items: center;
        margin: 0 1.25rem;
        font-size: 1.56rem;
        color: var(--color-grey);
        line-height: 3.75rem;
        margin-right: 0.5rem;
        cursor: pointer;
      }
        .socialmedia .icon span {
          height: 3.75rem;
          width: 3.75rem;
          display: block;
          background-color: var(--color-white);
          text-align: center;
          border-radius: 50%;
          transition: all 0.3s;
        }
          .socialmedia .icon span:last-child {
            margin: 0;
          }

          .socialmedia .icon span:hover {
            color: var(--color-white);
            background-color: var(--color-orange-light);
          }

    .hero__img--slider {
      width: 100%;
    }
    
    .hero__img--slide img {
      border-radius: 2rem 0.5rem 2rem 0.5rem;
    }

/* SECTION ABOUT US */

.section__aboutus {
  padding: 6rem 0;
}

.aboutus__img--container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

  .aboutus__img--container::before,
  .aboutus__img--container::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 90%;
  }

  .aboutus__img--container::before {
    background-color: var(--color-orange-extra-light);
    padding-bottom: 85%;
    z-index: 1;
  }

  .aboutus__img--container::after {
    width: 80%;
    padding-bottom: 75%;
    background-color: var(--color-orange-light);
    z-index: 2;
  }

  .aboutus__img {
    width: 70%;
    border-radius: 0.5rem 2rem 0.5rem 2rem;
    z-index: 3;
    border: 1px solid var(--color-orange-light);
  }

/* RECIPE CATEGORIES */

.section__recipe {
  padding: 6rem 0;
}

.recipe {
  background-color: var(--color-orange-light);
  border-radius: 10px;
  overflow: hidden;
}

  .recipe__img {
    width: 100%;
  }

  .recipe-content {
    padding: 2rem 1rem;
    margin-top: 0.5rem;
  }

  .recip__cat {
    color: var(--color-white);
    font-weight: 500;
  }

  .recip__cat {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0.4rem 0.8rem;
    color: var(--color-white);
    text-transform: uppercase;
  }

  .recipe__name {
    font-weight: 500;
    font-size: 2rem;
    color: var(--color-white);
    margin-bottom: 2rem;
  }

  .recipe__desc {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1.6rem;
  }

  .recipe__details {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 1.6rem;
  }

  .recipe__gallery  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 12px;
  }

  .recipe__gallery--1 {
    overflow: hidden;
    border-radius: 10px;
  }

  .recipe__gallery--1 img {
    display: block;
    width: 100%;
    transition: all 0.3s;
  }

  .recipe__gallery--1 img:hover {
    transform: scale(1.1);
  }



  /* KONTAKTA OSS */

  .section__kontakta__oss {
    padding: 6rem 0;
  }

  .kontakt_oss--breadcrum {
    margin-bottom: 3rem;
  }

    .kontakt_oss--link::before {
      content: "\00a0\00a0>\00a0\00a0";
      color: var(--color-orange-light);
    }

  .google-map {
    height: 38rem;
    width: 100%;
  }

.section-cta {
  padding: 3.2rem 0 8rem;
}

.cta {
  display: flex;
  justify-content: center;
  border-radius: 5px;

  background-image: linear-gradient(to left, var(--color-orange-extra-light), var(--color-orange-light));
  overflow: hidden;
}

  .cta__text {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 3.6rem;
  }

    .cta .heading-secondary {
      color: inherit;
      margin-bottom: 3.2rem;
    }
.cta__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 2.4rem;
}

  .cta__form label {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
  }

  .cta__form input,
  .cta__form select {
    font-family: "Poppins";
    font-size: 1.5rem;
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: var(--color-white);
    border-radius: 5px;
  }

    .cta__form input::placeholder {
      color: var(--color-grey);
    }

.input__control input:focus {
  outline: 0;
}

.input__control.success input {
  border-color: var(--color-input-control-success);
}

.input__control.error input {
  background-color: var(--color-input-control-error);
}

.input__control .error {
  color: var(--color-input-control-error);
  font-size: 0.563rem;
  height: 0.813rem;
}



  




